.footer {
    width: 100%;
    text-align: center;
    background-color: var(--color-background);
    padding: .5em; 
    border-top: 3px solid var(--color-accent);
}

.footer .icon {
    text-decoration: none;
    font-size: 1.5em;
    padding: .4em;
    color: var(--color-accent);
    transition: transform .15s;
}

.icon:hover {
    transform: scale(1.15);
    transition: transform .15s;
}