* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --color-background : #30323D;
    --color-primary : #4D5061;
    --color-secondary : #5C80BC;
    --color-accent : #E8C547;
    --color-light : #CDD1C4;
    --font-xlarge: 2.5em;
    --font-large: 1.5em;
    --font-medium: 1.3em;
    --font-small: .9em;
    --font-info: 1.2em;
    transition: background-color .25s;
}

html {
    background-color: var(--color-background);
    margin: auto;
    font-weight: 600;
    overflow: none;
    min-width: fit-content;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    filter: brightness(.5);
}

@keyframes typing {
    from {width:0;} 
}

@keyframes deleting {
   to {width:0} 
}

@keyframes blink {
    50% {border-color: transparent} 
}
