* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    /*
    --color-dark : #03045e;
    --color-primary : #0077b6;
    --color-secondary : #00b4d8;
    --color-accent : #90e0ef;
    --color-light : #caf0f8;
    */
    --color-dark : #30323D;
    --color-primary : #4D5061;
    --color-secondary : #5C80BC;
    --color-accent : #E8C547;
    --color-light : #CDD1C4;
    --font-h1: 2em;
    --font-h2: .9em;
    --font-info: 1em;
    --font-medium: 1.4em;
    transition: background-color .25s;
}

html {
    width: fit-content;
    background-color: var(--color-dark);
    margin: auto;
    overflow: none;
}

.nav {
    min-width: max-content;
    width: 100%;
    background-color: var(--color-dark) ;
    color: var(--color-light);
    border-bottom: 3px solid var(--color-accent);
}

.nav-items {
    padding: 1em 2em;
    list-style: none;
    text-align: center;
    overflow: auto;
}

.nav--item {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    transition: .25s
}

.nav--item + .nav--item {
    margin-left: 2em;
}

.nav--item:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(1.5);
    transition: .25s
}

.main-container {
    padding: 2em;
    min-width: 300px;
    max-width: 1000px;
    position: relative;
    text-align: center;
}

.intro h1{
    color: var(--color-accent);
    font-size: var(--font-h1);
    padding-top: .6em;
}

.intro h2 {
    color: var(--color-light);
    font-size: var(--font-h2);
    margin: .5em;
    margin-bottom: 2em;
}

.img {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    background-color: #222;
    border-radius: 100%;
    color: transparent;
}

.dynamic-msg {
    display: block;
    color: var(--color-light);
    font-size: var(--font-medium);
    user-select: none;
}

.info {
    font-size: var(--font-info);
    margin-top: 1em;
    text-align: center;
    color: var(--color-light)
}

.projects {
    color: var(--color-accent);
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--color-primary);
    padding-top: 1.2em;
}

.cards-container {
    display: flex;
    padding: 2em;
    flex-wrap: wrap;
    gap: 20px;
}

.projects--card {
    margin: auto;
    max-width: 200px;
    height: 100%;
    text-align: center;
    padding: .5em;
    position: relative;
    transition: .25s;
}

.card--info {
    color: var(--color-accent);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 50;
}

.card--title {
    font-size: var(--font-medium);
    position: relative;
    top: 8%;
    padding-bottom: .5em;
}

.card--description {
    text-align: justify;
    padding: 0 30px ;
    position: relative;
    top: 15%;
}

.projects--card img {
    width: 100%; 
    height: calc(100% - 30px);
    object-fit: contain;
    object-position: top;
    border-radius: 16px;
    transition: .25s;
    z-index: 10;
}

.btn {
    position:relative;
    top:30%;
    border:none;
    border-radius: 100%;
    padding: .5em; 
    margin: 1em;
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    background-color: transparent;
    transition: .25s;
}

.btn:hover {
    cursor:pointer;
    transform: scale(1.1);
    transition: .25s;
    background-color: var(--color-accent);
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
}

.projects--card:hover {
    transform: scale(1.1);
    transition: .25s;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: var(--color-dark);
    padding: .5em; 
}

.footer .icon {
    text-decoration: none;
    font-size: 1.5em;
    padding: .4em;
    color: var(--color-accent);
    transition: transform .15s;
}

.icon:hover {
    transform: scale(1.15);
    transition: transform .15s;
}

@media (min-width: 800px) {

    :root {
        --font-h1: 2.3em;
        --font-h2: .8em;
        --font-info: .8em;
    }

    .main-container {
        display: flex;
    }

    .img {
        position: relative;
    }

    .intro {
        position: relative;
        padding: 1.5em;
    } 

    .info {
        position: relative;
        padding: 1em;
    }
    
}

#changing-msg {
    display: block;
    height: 2.5ch;
    width: 17ch;
    animation: typing 1s steps(17) forwards;
    color: var(--color-accent);
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    align-items: center;
    margin: auto;
    font-family: monospace;
    font-size: 2.5ch;
    border-right: 1px solid var(--color-light);
}

@keyframes typing {
    from {width:0;} 
}

@keyframes deleting {
   to {width:0} 
}

@keyframes blink {
    50% {border-color: transparent} 
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    filter: brightness(.5);
}