* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --color-background : #30323D;
    --color-primary : #4D5061;
    --color-secondary : #5C80BC;
    --color-accent : #E8C547;
    --color-light : #CDD1C4;
    --font-xlarge: 2.5em;
    --font-large: 1.5em;
    --font-medium: 1.3em;
    --font-small: .9em;
    --font-info: 1.2em;
    transition: background-color .25s;
}

html {
    background-color: var(--color-background);
    margin: auto;
    font-weight: 600;
    overflow: none;
    min-width: fit-content;
}

.lang-box {
    text-align: center;
    position: absolute;
    margin-left: 1em;
    padding:1em 0 1em 0;
    color: var(--color-accent);
}

.lang-box::after {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    content:">";
    font-weight: 300;
    font-size: .8em;
    top:50%;
    transform: translateY(-50%);
    margin-left: .3em;
    z-index:55;
}

.lang-menu {
    margin-top: 1.1em;
    margin-left: -1em;
    position: absolute;
    color: var(--color-background);
    background-color: var(--color-accent);
    z-index: 30;
    width: 9em;
    height: max-content;
    text-align: left;
    transition: .25s;
    left:-900%;
}

.appear {
    transition: .25s;
    left:0;
}

.lang-menu li {
    margin-left: .5em;
    margin-top:1em;
    margin-bottom: 1em;
    cursor: pointer;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.flag { 
    object-fit: cover;
    height: 2em; 
    width: 2em;
    border-radius: 100%;
    margin-right: 1em;
}

.nav {
    min-width: max-content;
    width: 100%;
    background-color: var(--color-background) ;
    color: var(--color-accent);
    justify-self: center;
}

.nav-items {
    padding: 1em 2em;
    list-style: none;
    text-align: center;
}

.nav--item {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    transition: .25s
}

.nav--item + .nav--item {
    margin-left: 2em;
}

.nav--item:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(1.5);
    transition: .25s
}

header {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--color-accent);
}

#btn-theme {
    background-color: var(--color-background);
    color: var(--color-accent);
    border: none;
    position: absolute;
    font-size: 1em;
    padding: .4em;
    border-radius: 100%;
    text-align: center;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    transition: .25s;
}

#btn-theme:hover {
    cursor: pointer;
    transition: .25s;
    font-size: large;
}

.main-container {
    padding: 2em;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    position: relative;
    text-align: center;
}

.intro h1{
    color: var(--color-accent);
    font-size: var(--font-xlarge);
    padding-top: .6em;
}

.intro h2 {
    color: var(--color-secondary);
    font-size: var(--font-small);
    margin: .5em;
    margin-bottom: 2em;
}

.img-me {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    color: transparent;
    border-bottom: 4px solid var(--color-accent);
}

.dynamic-msg {
    display: inline-block;
    color: var(--color-light);
    font-size: var(--font-large);
    user-select: none;
}


.info-container {
    display: block;
    background-color: var(--color-primary);
    padding: 2em 1em;
}

.info {
    font-size: var(--font-medium);
    text-align: left;
    color: var(--color-light)
}

.projects {
    color: var(--color-accent);
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--color-background);
    padding-top: 1.2em;
}

.cards-container {
    display: flex;
    padding: 2em;
    flex-wrap: wrap;
    gap: 20px;
}

.projects--card {
    margin: auto;
    max-width: 200px;
    height: 100%;
    text-align: center;
    padding: .5em;
    position: relative;
    transition: .25s;
}

.card--info {
    color: var(--color-accent);
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    gap:20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 50;
}

.card--title {
    font-size: var(--font-medium);
    position: relative;
    padding-bottom: .5em;
}

.btn-container {
    display: flex;
    justify-self: flex-end;
    justify-content: center;
}

.btn {
    border:none;
    border-radius: 100%;
    padding: .5em; 
    margin: 0 1em;
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    background-color: transparent;
    transition: .25s;
    user-select: none;
}

.btn:hover {
    cursor:pointer;
    transform: scale(1.1);
    transition: .25s;
    background-color: var(--color-accent);
    border: 1px solid var(--color-background);
    color: var(--color-background);
}

.projects--card img {
    width: 100%; 
    height: calc(100% - 30px);
    object-fit: contain;
    object-position: top;
    border-radius: 16px;
    transition: .25s;
    z-index: 10;
}

.projects--card:hover {
    transform: scale(1.1);
    transition: .25s;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: var(--color-background);
    padding: .5em; 
    border-top: 3px solid var(--color-accent);
}

.footer .icon {
    text-decoration: none;
    font-size: 1.5em;
    padding: .4em;
    color: var(--color-accent);
    transition: transform .15s;
}

.icon:hover {
    transform: scale(1.15);
    transition: transform .15s;
}

@media (min-width: 840px) {

    :root {
        --font-xlarge: 3em;
        --font-small: 1em;
        --font-info: 1.2em;
    }

    .main-container {
        display: flex;
    }

    .img-me {
        border-radius: 20px 0px 0px 400px;
    }

    .intro {
        margin-left: 2.5em;
        padding: 2.5em;
    } 

    .dynamic-msg {
        margin-left: 2.5em;
        padding: 2.5em;

    }

    .info{
        text-align: center;
    }
    
}

#changing-msg {
    display: block;
    height: 2.5ch;
    width: 17ch;
    animation: typing 1s steps(17) forwards;
    color: var(--color-accent);
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    align-items: center;
    margin: auto;
    font-family: monospace;
    font-size: 2.5ch;
    border-right: 1px solid var(--color-light);
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    filter: brightness(.5);
}

@keyframes typing {
    from {width:0;} 
}

@keyframes deleting {
   to {width:0} 
}

@keyframes blink {
    50% {border-color: transparent} 
}